# dependencies
node_modules

# build output
dist
*.tsbuildinfo

# editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/.idea

# misc
.DS_Store
Thumbs.db
npm-debug.log
